<div style="background-color: #f7fafc; height: 100vh; display: flex; justify-content: center; align-items: center;">

    <div style="background-color: #ffffff; padding: 2rem; border-radius: 0.375rem; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); width: 24rem;">
        <h1 style="font-weight: 900; color: #1685ff;">Note it</h1>
        <h1 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 1rem;">Password Changed Successfully</h1>

        <p style="color: #4a5568; margin-bottom: 1rem;">Your password was successfully changed at {{ date }}.</p>

        <p style="color: #4a5568;">If you did not initiate this change, please contact our support team immediately.</p>

    </div>

</div>